{% extends 'vcb/base.html' %}

{% block title %}OEIT VCB - Dashboard{% endblock %}

{% block head_scripts %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/typeahead.js-bootstrap.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery.contextMenu.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/select2.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery.powertip.min.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery.dataTables.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-select.min.css" />
{% endblock %}

{% block content %}
    <div class="container container-fluid main_body">
    	<div class="navbar navbar-fixed-top">
    		<div class="navbar-inner">
    			<div class="container container-fluid">
    			    <a class="brand" href="#">
                        <img class="oeit" src="{{ STATIC_URL }}img/oeit-o-blue-isolated-new-larger.ico"/>
                        VCB
                    </a>
    			    
    				<a class="btn btn-navbar" data-toggle="collapse" data-target=".top-nav.nav-collapse">
    					<span class="icon-bar"></span>
    					<span class="icon-bar"></span>
    					<span class="icon-bar"></span>
    				</a>
    				<!-- user dropdown starts -->
    				<div class="btn-group pull-right user_menu" >
    					<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
    						<i class="fa fa-gears"></i><span class="hidden-phone"> {{ user_fname }}</span>
    						<span class="caret"></span>
    					</a>
    					<ul class="dropdown-menu">
    						<li><a href="profile/">
                                <i class="fa fa-user"></i>
                                <span class="hidden-phone"> Profile</span>
                            </a></li>
    						<li><a class="nav-help" data-reveal-id="help_modal" href="#">
                                <i class="fa fa-info-circle"></i>
                                <span class="hidden-phone"> Help</span>
                            </a></li>
    						<li class="divider"></li>
    						<li><a href="logout_page/" class="logout">
                                <i class="fa fa-external-link"></i>
                                <span class="hidden-phone"> Logout</span>
                            </a></li>
    						{% if user.is_staff %}	
    						    <li class="divider"></li>
    							<li class="nav-header hidden-phone">Administrative</li>
    							<li><a class="nav-admin" href="#">
                                    <i class="fa fa-cog"></i>
                                    <span class="hidden-phone"> Create / Modify Classes</span>
                                </a></li>
    							<li><a class="nav-amps" href="#">
                                    <i class="fa fa-film"></i>
                                    <span class="hidden-phone"> AMPS: Parse XML File</span>
                                </a></li>
    							{% if user.is_superuser %}
                                    <li><a class="nav-clicklog" href="#">
                                        <i class="fa fa-download"></i>
                                        <span class="hidden-phone"> Download Click Log</span>
                                    </a></li>
{#                                    <li><a class="nav-s3dash" href="#">#}
{#                                        <i class="fa fa-hdd"></i>#}
{#                                        <span class="hidden-phone"> Check S3 Usage</span>#}
{#                                    </a></li>#}
    							{% endif %}
    						{% endif %}
    					</ul>
    				</div>
    				<!-- user dropdown ends -->
    				
    				<div class="top-nav nav-collapse">
    				    <ul class="nav">
    				        <li>
                                <input type="hidden" data-init="{{ init_class }}" value="1" id="class_selector"/>
    				        </li>
                            <li>
                                <select id="control_type">
                                    <option value="topics">
                                        <i class="fa fa-list"></i>
                                        <span class="hidden-tablet"> View Topics</span>
                                    </option>
                                    <option value="session">
                                        <i class="fa fa-calendar"></i>
                                        <span class="hidden-tablet"> View Classes</span>
                                    </option>
                                    <option value="recent">
                                        <i class="fa fa-star"></i>
                                        <span class="hidden-tablet"> Recently Viewed</span>
                                    </option>
                                </select>
                            </li>
    				        <li>
            					<div class="navbar-search typeahead">
            						<input id="vid_search" placeholder="Search Concepts" data-provide="typeahead" class="search-query span3" name="query" type="text">
            					</div>
            				</li>
            			</ul>
    				</div><!--/.nav-collapse -->
    			</div>
    		</div>
    	</div>
    	<!-- topbar ends -->
    	
    	<div class="container-fluid">
    		<div class="row-fluid">
    			<noscript>
    				<div class="alert alert-block span12">
    					<h4 class="alert-heading">Warning!</h4>
    					<p>You need to have <a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a> enabled to use this site.</p>
    				</div>
    			</noscript>
    			
    			<div id="content" class="span12">
        			<!-- content starts -->
        			<div id="main_status_box" class="status_box red">
        			    {% if message %}
        			        <p>{{ message }}</p>
        			    {% endif %}
        			</div>
        			
        			<div class="row-fluid" id="viewer_container">
        				<div class="span7">
                            <div class="box">
                                <div class="box-header">
                                    <h2><i class="fa fa-video-camera"></i>
                                        <span id="vid_subject">Video Player</span>
                                    </h2>
                                </div>
                                <div class="box-content">
                                    <div id="video_wrapper">
                                    </div>
                                    <div class="row reset_left" id="videoinfo">
                                        <span class="toggle-metadata span5" id="vid_metadata">
                                            <i class="fa fa-info-circle"></i> More Video Metadata
                                        </span>
                                        <span class="pointer span3" id="vid_share">
                                            <span id="sharelink">
                                                <i class="fa fa-link"></i> Share This
                                            </span>
                                        </span>
                                        <span class="pointer span3" id="vid_download">
                                            <span id="download_video">
                                                <i class="fa fa-download"></i> Download video
                                            </span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="box">
                                <div class="" id="transcript">
                                </div>
                            </div>
        				</div>
        				<div class="box span5">
        					<div class="box-header well">
        						<h2 id="concept-box-header" class=""><i id="concept-box-icon" class="fa fa-list"></i> Concept Tree</h2>
        					</div>
        					<div class="box-content">
        						<div id="treespinner" class="box-content">
        						</div>
        						<div id="treecontainer">
        						  <div id="tree">
        						  </div>
        						</div>					
        					</div>
        				</div>

        			</div>
        
            		<div id="help_modal" class="reveal-modal">
            			<a href="#" class="close-reveal-modal" style="float:right;padding:0 0.4em;">×</a>
            			<h3>About this Site</h3>
            			 
            		 	<p>Welcome to the OEIT Video Concept Browser. This site allows you to find video segments corresponding to key concepts in your classes. We recorded lectures, recitations and labs and then indexed them by concept. We collected all of the videos and concepts here to support your understanding of the materials in your classes.</p>
            		 
            		  	<p>The MIT Office of Educational Innovation and Technology worked with various professors to develop this site.</p>
            		 
            		 	<h3>Using this Site</h3>
            		 
            		 	<p>To use this site, you can use the visual tree to browse by concept (e.g., elasticity) or by class (lecture, recitations, labs), and you can also search by concept.</p>
            		 
            		 	<p>This site has some technical limitations due to the speed at which we developed it; we hope to expand platform and browser compatibility throughout the Fall 2013 semester.</p>
            		 
            		 	<ul id="helpbullets">
            		    	<li>The site must be viewed on a desktop or laptop computer, and is best viewed with at a resolution of 1280 x 1024 or greater.</li>
            		     	<li>The site is best viewed with a current version of the Chrome or Safari browsers; you can also view the site with a current version of Firefox on Windows.</li>
            		     	<li>Internet Explorer is not supported.</li>
            		     	<li>iOS devices are supported.</li>
            		     	<li>Android devices are supported.</li>
            		 	</ul>
            		 
            		 	<h3>Questions or Problems?</h3>
            		 
            		 	<p>If you have any questions or problems with this site, please contact your instructor or email the OEIT project manager, Brandon Muramatsu at mura [at] mit [dot] edu, or
            		 	   Cole Shaw at cjshaw [at] mit [dot] edu.</p>
                    </div>
            	</div><!--/.fluid-container-->
        	</div>
    	</div>
    	<div class="container-fluid">
    		<div class="row-fluid">
    			<footer class='footer'>
    				<p class="pull-left">&copy; <a href="http://oeit.mit.edu" target="_blank">MIT OEIT</a> 2013</p>
    			</footer>
    		</div>
    	</div>
    </div>
	
	<script type="text/javascript">
		var user_is_superuser = '{{ user_is_superuser }}';
	</script>

    {% if objs %}
        <script type="text/javascript">
            var jumpto = true;
            {% autoescape off %}
                var jumpobjs = {{ objs }};
                var jumpnum = jumpobjs.length;
                var jumpind = 0;
            {% endautoescape %}
        </script>
    {% endif %}
{% endblock %}

<!--http://stackoverflow.com/questions/10596417/is-there-a-way-to-get-element-by-xpath-in-javascript-->
{% block extra_scripts %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/lib/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/lib/bootstrap-select.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/lib/d3.v3.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/lib/spin.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/lib/jquery.reveal.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/lib/jquery.combobox.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/lib/jquery.blockui.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/lib/jquery.form.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/lib/csrf.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/lib/bootbox.custom.vcb.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/lib/lodash.1.1.1.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/lib/s3upload.custom.js"></script>
{#    For local testing#}
    <script type="text/javascript" src="{{ STATIC_URL }}js/lib/jwplayer/jwplayer.js"></script>
{#    <script type="text/javascript" src="https://d2f0wfr3cvoae4.cloudfront.net/jwplayer/jwplayer.js"></script>#}
    <script type="text/javascript">jwplayer.key="gJKhmcyjDjh51PGhw8VpA6H8K+yVIbJ5G9jB+NpezYU="</script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/lib/jquery.ui.touch-punch.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/lib/jquery.mjs.nestedSortable.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/lib/jquery.powertip.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/lib/jquery.contextMenu.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/lib/select2.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/lib/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/lib/webvtt_parser.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/lib/smplayer.custom.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/controllers/vcb_utils.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/controllers/click_log.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/controllers/concept_tree.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/controllers/data_tables.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/controllers/nested_sortable.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/controllers/storage.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/controllers/vcb-admin.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/controllers/vcb_navmenu.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/controllers/video_player.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/controllers/dashboard.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/bindings/concept_tree.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/bindings/vcb-navmenu.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/bindings/vcb_admin.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/bindings/dashboard.js"></script>
{% endblock %}
