{% extends 'vcb/base.html' %}

{%  block title %}
    Pick Your Classes
{%  endblock %}

{%  block content %}
	<div class="container">
		<div class="row">
			<div class="span6 offset3">
				<legend>Select Your Classes</legend>
				<div class="well">
			      <form id="class_signup" class="form-horizontal" method="post" action="classes_picked/" enctype="multipart/form-data">
			      	{% csrf_token %}
					<legend>Select Classes</legend>
					{% if error %}
					    <label class="error">{{ error }}</label>
					{% endif %}
                    <div class="control-group">
                        <label class="control-label">Available Classes*</label>
                    	<div class="controls">
                    	    <table class="table">
                    	        <thead>
                    	            <tr>
                    	                <th class="span4">
                    	                    Class Name / Number
                    	                </th>
                    	                <th class="span2">
                    	                    Semester
                    	                </th>
                    	                <th class="span1">
                    	                    Access Code
                    	                </th>
                    	            </tr>
                    	        </thead>
                    	        <tbody>
                    				{% for field in class_choices %}
                    				<tr>
                    				    <td class="span4">
                    						{{ field.class_number }} - {{ field.class_name }}
                    					</td>
                    					<td class="span2">
                    					    {{ field.semester }}
                    					</td>
                    					<td class="span1">
                    						{% if user_classes %}
                    						    {% if field.fullname in user_classes %}
                    						        <input type="text" class="span1 class_code" name="class_code{{ field.id }}" maxlength="9" value="{{ field.access_code }}">
                                                {% else %}
                                                    <input type="text" class="span1 class_code" name="class_code{{ field.id }}" maxlength="9"> 
                    						    {% endif %}
                    						{% else %}
                    						    <input type="text" class="span1 class_code" name="class_code{{ field.id }}" maxlength="9"> 
                    						{% endif %}
                    					</td>
                    				</tr>
                    				{% endfor %}
                    			</tbody>
                    		</table>
                    	</div>
                    </div>
					<div class="control-group">
					    <label class="control-label">I agree to this site's 
					        <a href="tos/" target="_blank">Terms of Service</a> and 
					        <a href="privacy/" target="_blank">Privacy Policy</a>
					    </label>
						<div class="controls">
						    <div class="input-prepend">
						        {% if already_registered %}
								    <input type="checkbox" id="tos" class="input-xlarge" name="tos" checked>
								{% else %}
								    <input type="checkbox" id="tos" class="input-xlarge" name="tos">
								{% endif %}
							</div>
						</div>
					</div>
					{% if jumpto %}
					    <div class="control-group">
					        <label class="control-label"></label>
					    	<div class="controls">
					    	    <div class="input-prepend">
                                    <input type="hidden" name="jumpto" value="{{ jumpto }}"/>
                                    <input type="hidden" name="objs" value="{{ objs }}"/>
					    		</div>
					    	</div>
					    </div>
					{% endif %}
					<div class="control-group">
					    <label class="control-label"></label>
				            <div class="controls">
				                <button type="submit" class="btn btn-success" >Select These Classes</button>
				            </div>
					</div>
				  </form>
				</div>
		   </div>
		</div>
	</div>
{%  endblock %}
