{% extends 'aloha/base.html' %}

{% block menu %}
    <li class="active">
        <a href="{% url 'aloha:dashboard' %}">
            <i class="fa fa-dashboard"></i>
            Dashboard
        </a>
    </li>
    <li>
        <div class="mc3_selector">
            <select id="host_selector" class="">
                <option value="oki-dev.mit.edu">
                    <span class="hidden-tablet"> OKI-DEV</span>
                </option>
                <option value="mc3-demo.mit.edu">
                    <span class="hidden-tablet"> MC3 Demo</span>
                </option>
                <option value="mc3.mit.edu">
                    <span class="hidden-tablet"> MC3</span>
                </option>
            </select>
        </div>
    </li>
    <li>
        <div class="mc3_selector">
            <input type="hidden" value="" id="bank_selector" class=""/>
        </div>
    </li>
{% endblock %}

{% block data_script %}
    <script src="{{ STATIC_URL }}js/lib/jquery.blockui.js"></script>
    <script src="{{ STATIC_URL }}js/lib/csrf.js"></script>
{% endblock %}