body {
    text-shadow: none !important;
    color: black;
}

.body_wrapper {
    padding-top: 60px; /* When using the navbar-top-fixed */
}

.text_bold {
    font-weight: bold;
}

.reset_left {
    margin-left: 0px;
}

.red {
    color: red;
}

.copyright {
    margin-left: 50px;
}

#login_box,
#signup {
    min-height: 100px;
    border: 1px solid #d4d4d4 !important;
    -webkit-border-radius: 3px !important;
    -moz-border-radius: 3px !important;
    border-radius: 3px !important;
    border-color: #D4D4D4 #D4D4D4 #BCBCBC !important;
    padding: 10px 10px 10px 10px;
    background-color: #eeeeee;
}

#login {
    margin: 10px 10px 10px 10px;
}

#tos_pp,
#footer {
    margin-top: 30px;
}

.help-inline {
    color: red;
    margin-left: 5px;
}

.wrapper {
    margin-top: 10px;
}

/*Reset bootstrap's dropdown menu so on collapse its width is icon-width only*/
.dropdown-menu {
    min-width: inherit; !important
}

.user_menu {
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
}

.mc3_selector {
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
}

.select2-drop-active,
.select2-container {
    min-width: 300px !important;
}


/*Fixing the help modal*/
.ui-widget-overlay {
    z-index: 2000;
}

.ui-dialog {
    z-index: 2001;
}

.ui-dialog-titlebar-close {
    padding-bottom: 20px;
}

.pointer {
    cursor: pointer;
}

#similar_defs {
    max-width: 100%;
    overflow: auto !important;
    max-height: 350px;
}

#similar_defs .box {
    cursor: pointer;
    margin: 5px 5px 5px 5px;
    border: 1px solid #d4d4d4;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border-color: #D4D4D4 #D4D4D4 #BCBCBC;
    padding: 3px 3px 3px 3px;
    background-color: #eeeeee;
}

#similar_defs .left_col {
    border-right:1px solid #16222c;
    padding-right: 10px;
}