/*Colors*/
.red {
    color: red;
}
/* end colors */

body {
    text-shadow: none !important;
}

.oeit {
    background: url('../img/oeit-o-blue-white-favicon.png') no-repeat fixed top left rgba(0,0,0,0);
    background-size: 100%;
    width: 30px;
    height: 30px;
}

.user_menu {
    z-index: 1100;
}

.navbar,
.navbar-inner {
    background-color: #dddddd !important;
}

.navbar-search .search-query {
    background-color: #bbbbbb !important;
}

/*For the d3 concept trees*/
.node rect {
  cursor: pointer;
  fill: #fff;
  fill-opacity: .5;
  stroke: #3182bd;
  stroke-width: 1.5px;
}

.node text {
  font: 10px sans-serif;
  pointer-events: none;
}

path.link {
  fill: none;
  stroke: #9ecae1;
  stroke-width: 1.5px;
}

/* Add these styles once per website */
.popup_background {
  z-index: 2000; /* any number */
}
.popup_wrapper {
  z-index: 2001; /* any number + 1 */
}
/* Add inline-block support for IE7 */
.popup_align,
.popup_content {
  *display: inline;
  *zoom: 1;
}

@media (max-width: 768px) {
    .main_body {padding-top:0px !important;}
}
.main_body {
    padding-top: 60px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
    text-shadow: none;
}

.ui-autocomplete-loading {
  background: white url('../img/ui-anim_basic_16x16.gif') right center no-repeat;
}

.custom-btn {
	width: 200px;
	margin: 5px 5px 5px 5px;
}

.active-btn {
	border: 10px solid red;
}

/*Because the admin modal seems to hide everything, need to move the jquery ui elements to the front--higher than 1050 z-index*/
.ui-autocomplete {
	z-index: 1500;
}

.ui-datepicker {
	z-index: 1500;
}

/* from http://www.d3noob.org/2013/01/adding-tooltips-to-d3js-graph.html */
div.tooltip {   
  position: absolute;           
  text-align: center;           
  max-width: 250px;                  
  max-height: 50px;                
  padding: 2px;             
  font: 12px sans-serif;        
  background: lightsteelblue;   
  border: 0px;      
  border-radius: 8px;           
  pointer-events: none;         
}

.new_classes {
	margin: 20px 0px 20px 0px;
	padding: 20px 0px 20px 0px;
}

.canvascontainer{
	height: 650px;
	overflow:  scroll;
}

.toggle-metadata {
	cursor:  pointer;
}

.form-signin {
	margin-top: 20px;
}

.toggle-classnum {
    cursor: pointer;
}

.help-inline {
    color: red;
}

.touchstone-login {
    color: white;
}

.bootbox {
    min-width: 700px;
}

select{
    background-color:#fff;
}

.box{
    border: 1px solid #DEDEDE;
    border-radius:3px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    margin-top: 10px; 
    margin-bottom: 10px ;
    box-shadow: 0 0 10px rgba(189, 189, 189, 0.4);
    -webkit-box-shadow: 0 0 10px rgba(189, 189, 189, 0.4);
    -moz-box-shadow: 0 0 10px rgba(189, 189, 189, 0.4);
}

.box-header{
    border:none;
    padding-top:5px;
    border-bottom: 1px solid #DEDEDE;
    border-radius:3px 3px 0 0;
    -webkit-border-radius:3px 3px 0 0;
    -moz-border-radius:3px 3px 0 0;
    min-height:25px;
    margin-bottom: 0;
    font-weight:bold;
    font-size:16px;
    background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(0,0,0,0.1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(0,0,0,0.1)));
    background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(0,0,0,0.1) 100%);
    background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(0,0,0,0.1) 100%);
    background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(0,0,0,0.1) 100%);
    background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(0,0,0,0.1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#1a000000',GradientType=0 );
}

.box-header h2{
    font-size:15px;
    width:auto;
    clear:none;
    float:left;
    line-height:25px;
    margin-left: 10px;
    margin-top: -6px;
}

.box-header h2 > i{
    margin-top:1px;
}

.box-content{
    padding:10px;
}

.navbar-search{
    margin-left:10px;
}

#vid_search {
    height: 28px;
}
input[type="text"] {
    min-height: 28px;
}

.navbar-inner{
    border-radius:0 0 10px 10px;
    -webkit-border-radius:0 0 10px 10px;
    -moz-border-radius:0 0 10px 10px;
    padding-top:5px; 
    padding-bottom:5px; 
}

.nav-header {
    color: black;
    margin-left: 15px;
}

.login-box{

}
.login-box .input-prepend{
    margin-bottom: 10px;
}
.login-box .btn{
    margin-top:15px;
    width:100%
}

.box-content.buttons{
    min-height:297px;
}

.url_text {
    width: 95%
}

/*For the sorting; From view-source:http://mjsarfatti.com/sandbox/nestedSortable/*/
.placeholder {
	outline: 1px dashed #4183C4;
	/*-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin: -1px;*/
}

.mjs-nestedSortable-error {
	background: #fbe3e4;
	border-color: transparent;
}

ol {
	margin: 0;
	padding: 0;
	padding-left: 30px;
}

ol.sortable, ol.sortable ol {
	margin: 0 0 0 25px;
	padding: 0;
	list-style-type: none;
}

ol.sortable {
	margin: 1em 0;
}

.sortable li {
	margin: 5px 0 0 0;
	padding: 0;
}

.sortable li div  {
	border: 1px solid #d4d4d4;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border-color: #D4D4D4 #D4D4D4 #BCBCBC;
	margin: 0;
	/*cursor: move;*/
	background: #f6f6f6;
	background: -moz-linear-gradient(top,  #ffffff 0%, #f6f6f6 47%, #ededed 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(47%,#f6f6f6), color-stop(100%,#ededed));
	background: -webkit-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%);
	background: -o-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%);
	background: -ms-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%);
	background: linear-gradient(to bottom,  #ffffff 0%,#f6f6f6 47%,#ededed 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 );
}

.sortable li.mjs-nestedSortable-branch div {
	background: -moz-linear-gradient(top,  #ffffff 0%, #f6f6f6 47%, #f0ece9 100%);
	background: -webkit-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#f0ece9 100%);

}

.sortable li.mjs-nestedSortable-leaf div {
	background: -moz-linear-gradient(top,  #ffffff 0%, #f6f6f6 47%, #bcccbc 100%);
	background: -webkit-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#bcccbc 100%);

}

li.mjs-nestedSortable-collapsed.mjs-nestedSortable-hovering div {
	border-color: #999;
	background: #fafafa;
}

.disclose {
	cursor: pointer;
	width: 10px;
}

.remove {
    cursor: pointer;
}

.sortable li.mjs-nestedSortable-collapsed > ol {
	display: none;
}

.sortable li.mjs-nestedSortable-branch > div > .disclose {
	display: inline-block;
}

/*End of nested Sortable css*/
.heading_text {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 20px;
    display: inline;
}

.menu_heading {
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
}

.pad_left {
    margin-left: 30px;
}

.reset_left {
    margin-left: 0px;
}

.asset {
    border: 1px solid #d4d4d4 !important;
    -webkit-border-radius: 3px !important;
    -moz-border-radius: 3px !important;
    border-radius: 3px !important;
    border-color: #D4D4D4 #D4D4D4 #BCBCBC !important;
    padding: 6px !important;
    margin: 0 !important;
    /*cursor: move !important;*/
    background: #fbac04 !important; 
    background: -moz-linear-gradient(top,  #fee9b1 0%, #fbd365 47%, #fbac04 100%) !important;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fee9b1), color-stop(47%,#fbd365), color-stop(100%,#fbac04)) !important;
    background: -webkit-linear-gradient(top,  #fee9b1 0%,#fbd365 47%,#fbac04 100%) !important;
    background: -o-linear-gradient(top,  #fee9b1 0%,#fbd365 47%,#fbac04 100%) !important;
    background: -ms-linear-gradient(top,  #fee9b1 0%,#fbd365 47%,#fbac04 100%) !important;
    background: linear-gradient(to bottom,  #fee9b1 0%,#fbd365 47%,#fbac04 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fee9b1', endColorstr='#fbac04',GradientType=0 ) !important;
    color: #555555;
}

#admin_status_box,
#main_status_box {
    min-height: 30px;
}

.context-menu-list {
    min-width: 150px;
}

.timetag_del {
    position: relative;
    top: -4px;
    cursor: pointer;
}

.text_bold {
    font-weight: bold;
}

.select2-drop-active,
.select2-container {
    min-width: 250px !important;
}

.select2-container {
    padding-top: 5px;
}

/*For the click logs*/
#download_log,
#include_staff {
    margin-left: 30px;
    margin-top: 5px;
    padding-top: 5px;
    cursor: pointer;
}

/*Reset this so doesn't drag to bottom of screen*/
.modal {
    bottom: inherit;
}

.pointer {
    cursor: pointer;
}

/*Put the help modal background above the navbar*/
.reveal-modal-bg {
    z-index: 99998;
}

.reveal-modal {
    z-index: 99999;
}

/*Reset bootstrap's dropdown menu so on collapse its width is icon-width only*/
.dropdown-menu {
    min-width: inherit; !important
}

.class_management,
.admin_help{
    font-weight: normal;
    font-size: 12px;
}